//COLORS

$blue: #245cc3;
$light-blue: #5cb6e4;
$indigo: #1c44a4;
$grey: #647c9c;
$brown: #3c3a3a;
$teal: #05bbed;
$red: #bc2c2c;

$black: #000;
$white: #fff;


//FONTS
$small: 16px;
$medium: 20px;
$big: 48px;

//PADDINGS
$large-padding: 10px 15px;
$big-padding: 20px 30px;

//MARGINS
$margin-top: 30px;
$big-margin-top: 90px;

//BORDERS
$border-radius: 4px;
